
.text-uppercase {
    text-transform: uppercase;

}
a{
   
    color: aliceblue;
    padding: 8px 24px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    margin: 12px;
    display: inline-block;

}
input{
    margin-top: 10px;
}

.mybg {
    background-color: rgba(18, 12, 189, 0.544);
}
.my-circle {
margin: auto;
 border-radius: 100px;
 width: 100px;
 height: 100px;
 padding: 20px;
}
.my2bg{
    background-color: rgba(17, 21, 94, 0.478);
}